@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&');

.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-family: 'Inter';
}

.title {
  font-size: 3vh;
  font-family: 'Permanent Marker';
}

.text {
  font-family: 'Inter';
  margin-top: 10%;
  margin-bottom: 10%;
}

.cadre {
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  font-size: 100%;
}

.form {
  display: flex;
  flex-direction: column;
}

.box {
  text-align: center;
}

.boxes {
  height: 100%;
  padding: 10px;
  /*background: url("../components/assets/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

@media screen and (min-width: 700px) {
  .cadre {
    width: 50%;
    height: 92%;
    margin-top: 2%;
  }
  .boxes {
    display: flex;
  }
  .box {
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
  }
}
