@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&');

.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-family: 'Inter';
  font-size: 2.5vh;
}

.title {
  font-size: 3vh;
  font-family: 'Permanent Marker';
  margin-bottom: 1vh;
}

.text {
  font-family: 'Inter';
  margin-top: 3%;
  margin-bottom: 7%;
  padding-left: 2vh;
  padding-right: 2vh;
}

.cadre {
  border-radius: 10px;
  text-align: center;
  background-color: rgba(221, 212, 212, 0.562);
  padding-bottom: 1vh;
  margin-bottom: 1vh;
}

.form {
  display: flex;
  flex-direction: column;
}

.box {
  text-align: center;
}

.boxes {
  height: 100%;
  padding: 10px;
}

@media screen and (min-width: 850px) {
  .cadre {
    width: 50%;
    margin-top: 2%;
    margin-left: 2vh;
  }
  .boxes {
    display: flex;
  }
  .box {
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
  }
  .title {
    margin-bottom: 1vh;
  }
  .text {
    font-size: 1.2rem;
  }
}
