@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&');

.title {
  font-family: 'Permanent Marker';
  font-size: 2vh;
}

.text {
  font-family: 'Inter';
  font-size: 2vh;
}

.boxes {
  text-align: center;
  height: 100%;
  padding: 10%;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 50vh;
  margin-bottom: 5vh;
}

@media screen and (min-width: 700px) {
  .title {
    font-size: 5vh;
  }
  .container {
    margin-top: 0;
    margin-bottom: 3vh;
  }
}
