@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&');

.backgroundElement {
  background-image: url('../../public/run_bg.jpg');
  background-position: right 40% bottom 45%;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}

.pathTitle {
  font-weight: bold;
  font-size: x-large;
  text-align: center;
  text-decoration: underline;
  font-family: 'Permanent Marker';
}
.pathInfos {
  font-weight: bold;
}

.pathButton {
  cursor: pointer;
  background-color: red;
  color: white;
  height: 7vh;
  width: 20vh;
  border-radius: 6px;
  font-size: 3vh;
  font-weight: bold;
  text-align: center;
  padding: 8px;
  filter: drop-shadow(0 0 0.25rem grey);
  margin: 10px;
  border: solid 4px;
  font-weight: bold;
}

.meteo {
  text-align: center;
  justify-content: center;
  width: 100%;
  margin: 10px;
  border: 2px solid grey;
  border-radius: 15px;
}

.title {
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.2rem;
}

.day {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width: 700px) {
  .backgroundElement {
    background-size: 'cover';
    height: 100%;
  }
  .pathCard {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 10% 70% 20%;
  }

  .pathTitle {
    text-align: center;
    text-decoration: underline;
    grid-column: 1;
    grid-row: 1;
  }

  .pathMapContainer {
    grid-column: 1;
    grid-row: 2;
  }

  .pathInfos {
    grid-column: 1;
    grid-row: 3;
  }

  .pathDescription {
    grid-column: 2;
    grid-row: 3;
  }

  .pathPics {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pathMeteo,
  .pathDate,
  .pathButton {
    display: none;
  }

  .meteo {
    display: none;
  }
}
