@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&');

.pathsMainContainer {
  margin: 0;
  height: 100%;
  font-family: 'Inter';
  background-image: url('../../public/run_bg.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.searchSelectContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.searchSelectContainer h2 {
  font-size: 2vh;
  font-family: 'Permanent Marker';
}

.searchSelect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px 0px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  border: 2px solid;
  border-color: #011627;
  padding: 10px 20px;
}

.select {
  margin-left: 20px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #011627;
  text-align: center;
  width: 60px;
}

.pathsListContainer {
  display: flex;
  width: 100vw;
  height: 60vh;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.alertFilter {
  display: flex;
  justify-content: center;
  width: 90%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  border: 2px solid;
  border-color: #011627;
}

@media screen and (min-width: 865px) {
  .searchSelectContainer {
    flex-direction: row;
  }

  .searchSelect {
    margin: 0px 30px;
    padding: 10px 20px;
  }

  .pathsMainContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 80px;
  }

  .pathsListContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: auto;
  }

  .alertFilter {
    width: 100%;
  }
}
