@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&');

.historyMainContainer {
  background-image: url('../components/assets/backgroundHistory.png');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100%;
  font-family: 'Inter';
}

.searchBarContainer h1 {
  font-size: 3vh;
  font-family: 'Permanent Marker';
}

.searchBarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.searchBar {
  width: 75%;
  height: 40px;
  margin: 20px 0px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: large;
  border-radius: 10px;
  border: 2px solid;
  border-color: #011627;
}

.searchBar:focus {
  border: 3px solid;
  border-color: #f71735;
  outline: none;
}

.historyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.alertFilter {
  display: flex;
  justify-content: center;
  width: 90%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  border: 2px solid;
  border-color: #011627;
}

.cardHistoryContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 50px);
  width: 90%;
  height: 100px;
  border: 2px solid;
  border-color: #011627;
  border-radius: 10px;
  margin: 10px 0px;
  background-color: rgba(255, 255, 255, 0.8);
}

.namePath {
  grid-column: 3 / 5;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: medium;
}

.pathMap {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  border-radius: 10px;
  margin: auto;
  padding: 5px;
}

.distancePath {
  grid-column: 3;
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.timePath {
  grid-column: 4;
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 1025px) {
  .searchBarContainer h1 {
    padding-left: 50px;
  }

  .searchBarContainer {
    align-items: initial;
  }

  .searchBar {
    width: 40%;
    height: 50px;
  }

  .alertFilter {
    width: 100%;
  }

  .historyContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 60px;
  }

  .cardHistoryContainer {
    width: 22%;
    margin: 20px 0px;
    height: 100px;
  }
} ;
