.backgroundElement {
  background-image: url('../../public/run_bg.jpg');
  background-position: right 40% bottom 45%;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}

.pathTitle {
  font-weight: bold;
  text-decoration: underline;
}
.pathInfos {
  font-weight: bold;
}

.pathButton {
  margin-top: 5vh;
  border: solid 4px;
  font-weight: bold;
}

.meteo {
  text-align: center;
  justify-content: center;
  margin-bottom: 2vh;
}

.title {
  font-weight: bold;
}

.first {
  margin-top: 3vh;
  display: flex;
  justify-content: space-around;
}

.second {
  margin-top: 3vh;
  display: flex;
  justify-content: space-around;
}

.third {
  margin-top: 3vh;
  display: flex;
  justify-content: space-around;
}

.four {
  margin-top: 3vh;
  display: flex;
  justify-content: space-around;
  display: none;
}

@media screen and (min-width: 700px) {
  .backgroundElement {
    background-size: 'cover';
    height: 100%;
  }
  .pathCard {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 10% 70% 20%;
  }

  .pathTitle {
    text-align: center;
    text-decoration: underline;
    grid-column: 1;
    grid-row: 1;
  }

  .pathMapContainer {
    grid-column: 1;
    grid-row: 2;
  }

  .pathInfos {
    grid-column: 1;
    grid-row: 3;
  }

  .pathDescription {
    grid-column: 2;
    grid-row: 3;
  }

  .pathPics {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pathMeteo,
  .pathDate,
  .pathButton {
    display: none;
  }

  .meteo {
    display: none;
  }
}
