.Control-Buttons {
  margin: 30px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-grp {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  margin: 0px 6px;
  display: flex;
  border: 2px solid #e42a2a;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #000000;
}

.btn-one {
  background-color: #e42a2a;
}

@media screen and (min-width: 1025px) {
  .btn {
    width: 5vw;
    height: 5vw;
  }
}
