.containerf {
  background-color: red;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rezof {
  height: 5vh;
}

.rezof2 {
  height: 4vh;
}

@media screen and (min-width: 700px) {
  .containerf {
    justify-content: center;
  }
  .rezof {
    margin-left: 5vh;
    margin-right: 5vh;
  }
}
