.containerf {
  background-color: red;
  display: flex;
  justify-content: center;
}

.rezof {
  display: flex;
  height: 7vh;
  width: 7vh;
}

.rezof2 {
  display: flex;
  height: 6vh;
  width: 7vh;
  margin-left: 10vh;
  margin-right: 10vh;
  margin-top: 0.5vh;
}

@media screen and (max-width: 850px) {
  .containerf .rezof .rezof2 {
    display: none;
    height: 4vh;
    width: 4vh;
  }

  .containerf {
    background-color: red;
  }
}
