.containerf {
  width: 100%;
  padding: 10px;
  background-color: red;
  display: flex;
  justify-content: center;
}

.rezof {
  display: flex;
  width: 180px;
  height: 60px;
}

@media screen and (max-width: 850px) {
  .containerf .rezof {
    display: none;
  }
  .containerf {
    background-color: white;
  }
}
