@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&');

.navBar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 50px;
  background-color: red;
  position: fixed;
  width: 100%;
  color: black;
}

body {
  font-family: 'Permanent Marker', cursive;
}

.Navlink {
  color: white;
  text-decoration: none;
  padding-bottom: 15px;
}
