.carousel-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.photo-container {
  margin: auto;
  width: 40vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
