@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../public/run_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 45% bottom 45%;
}

header,
footer {
  background-color: black;
  color: white;
  padding: 10px;
}

main {
  flex-grow: 1;
}

nav a {
  margin-right: 10px;
  color: white;
  text-decoration: none;
}

.leaflet-container {
  width: 20rem;
  height: 20rem;
}
