@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}

header,
footer {
  background-color: black;
  color: white;
  padding: 10px;
}

main {
  padding: 10px;
  flex-grow: 1;
}

nav a {
  margin-right: 10px;
  color: white;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leaflet-container {
  width: 20rem;
  height: 20rem;
}
