.InformationsRaceMainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.InformationsRaceContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 3fr 1fr;
  width: 90%;
  height: 500px;
  border: 1px solid;
  border-color: black;
  border-radius: 10px;
  margin: 10px 0px;
}

.nameRace {
  grid-column: 2 / 4;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagesRace {
  grid-column: 1 / 5;
  grid-row: 2;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  margin: 1px;
}

.distanceRace {
  grid-column: 1;
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.timeRace {
  grid-column: 2;
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.calorieRace {
  grid-column: 3;
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.numberImagesRace {
  grid-column: 4;
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.buttonRecapRace {
  background-color: #f71735;
  border-radius: 50%;
  border: 3px solid;
  height: 75px;
  width: 75px;
  margin: 20px 40px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.buttonRecapRace:active {
  box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.5);
}
